---
import Layout from "../../layouts/Layout.astro";
import FormDisplay from '../../components/category/FormDisplay';
import WrapCard from '../../components/WrapCard.astro';
const { slug } = Astro.params;//id category 

//Get url params
const url = new URL(Astro.request.url);
const searchParams = url.searchParams;

const sort = searchParams.get('sort') || 'id';

/***CAMBIAR AL APIURL DE SUBCATEGORIAS**/
/**Problema con el slug al recibir 2 y
   llamar a mi apiUrl con 2, cuando debo filtrar
*/
const apiUrl = `http://localhost:8080/api/intercar/category/${slug}/subcategories`;

if (slug === undefined) {
    return Astro.redirect("/404");
}

async function getSubcategories(){
   try{
   const fetchSubcategories = await fetch(apiUrl, 
   {method : 'GET', mode : 'cors'});

   if(fetchSubcategories.status == 404){
      return {
         error : true,
         status : 404,
         message : 'No se encontraron subcategorias'
      }
      }
      if(fetchSubcategories.status == 500){
         return {
            error : true, 
            status : 500,
            message : 'Algo exploto! problemas obteniendo las subcategorias'
         }
      }
   const jsonSubcategories = await fetchSubcategories.json();
      return {
         error : false,
         status : 200,
         data : jsonSubcategories,
         message : 'Subcategorias obtenidas de manera satisfactoria'
      } 
   }catch(err){
   return {
      error : true,
      status : 500,
      message : 'Algo exploto! problemas obteniendo las subcategorias'
      }
   }
};

const subcategories = await getSubcategories();
---
<Layout>
   <FormDisplay client:load paramValue={slug} url={apiUrl} nameValue={"Subcategoria"}/>
   <section class="mx-auto px-5 gap-5">
      {
         subcategories.error ? <h3 class="opacity-50 w-12/12 text-nowrap">{subcategories.message}</h3> 
         : 
         <>
         <WrapCard url={`http://localhost:8080/api/intercar/subcategory/${slug}`}/>
         </>
      }  
   </section>
</Layout>
