---
import Layout from "../../layouts/Layout.astro";
import FormDisplay from '../../components/category/FormDisplay'
import CardSubcategory from '../../components/category/CardSubcategory.astro'
const { slug } = Astro.params;//id category 

//Get url params
const url = new URL(Astro.request.url);
const searchParams = url.searchParams;

const sort = searchParams.get('sort') || 'id';

if (slug === undefined) {
    return Astro.redirect("/404");
}

async function getSubcategories(){
   try{
   const fetchSubcategories = await fetch(`http://localhost:8080/api/intercar/category/${slug}/subcategories`, 
   {method : 'GET', mode : 'cors'});

   if(fetchSubcategories.status == 404){
      return {
         error : true,
         status : 404,
         message : 'No se encontraron subcategorias'
      }
      }
      if(fetchSubcategories.status == 500){
         return {
            error : true, 
            status : 500,
            message : 'Algo exploto! problemas obteniendo las subcategorias'
         }
      }
   const jsonSubcategories = await fetchSubcategories.json();
      return {
         error : false,
         status : 200,
         data : jsonSubcategories,
         message : 'Subcategorias obtenidas de manera satisfactoria'
      } 
   }catch(err){
   return {
      error : true,
      status : 500,
      message : 'Algo exploto! problemas obteniendo las subcategorias'
      }
   }
};

const subcategories = await getSubcategories();
---
<Layout>
   <FormDisplay client:load nameValue={"Categorias"} paramValue={slug} url={"http://localhost:8080/api/intercar/category"}/>
   <section class="grid grid-cols-3 w-12/12 mx-auto px-5 gap-5">
      {
         subcategories.error ? <h3 class="opacity-50 w-12/12 text-nowrap">{subcategories.message}</h3> 
         : 
         <>
         <h3 class="col-span-full text-sm text-zinc-500">Selecciona una subcategoria</h3>
         {subcategories.data.data.map((s)=> <CardSubcategory currentCategory={slug} id={s.id} name={s.name}/>)}
         </>
      }  
   </section>
</Layout>
