---
const { style, sku, title, price, subcategory } = Astro.props;

import {Image} from 'astro:assets';
const imageUrl = `http://localhost:8080/api/intercar/products/${sku}/photo`;
---

<div
  class=`drop-shadow-md rounded flex-wrap bg-neutral-100 text-md text-center md:block 
  ${style} duration-200 hover:text-neutral-200 hover:scale-105  hover:bg-neutral-800 group
  w-11/12 mx-auto`
>
  <a href={`/producto/${sku}`}>
    <div class="img">
      <Image src={imageUrl} alt={"product-image"}
      class="w-full h-full object-cover rounded-tl-xs"
       width={500} height={600} crossorigin={"anonymous"}/>
    </div>
  </a>
  <div class="desc-section group-hover:p-0 text-neutral-600">
    <div class="sku group-hover:bg-neutral-950 bg-neutral-200 text-xs">
      <p class="group-hover:text-neutral-400">
        <span class="group-hover:text-orange-500">SKU:</span>{sku}
      </p>
    </div>
    <div class="title">
      <p class="">
        <span class="group-hover:text-neutral-400">{title?.toUpperCase()}</span>
      </p>
      <div class="price group-hover:text-neutral-400">
        <p class="group-hover:text-neutral-300">
          $ <span>{price.toLocaleString('es-CL')}</span>
        </p>
      </div>
      <div class="subcategory flex-wrap text-center">
        <a
          class="text-xs underline text-orange-500 opacity-60 group-hover:opacity-100"
          href={`/categorias/${subcategory?.fk_category}&page=1`}
        >
          VER MÁS {subcategory?.CATEGORY?.name.toUpperCase()}</a
        >
      </div>
    </div>
  </div>
</div>
