---
import Card from "./Card.astro";
const { title, buttonTitle, url="http://localhost:8080/api/intercar/onsale/products?page=0" } = Astro.props;
const getProducts = async () => {
  try {
    const getInfo = await fetch(
      url,{
        mode: "cors",
        method: "GET",
      },
    );
    const jsonInfo = await getInfo.json();
    return jsonInfo.data;
  } catch (err) {
    return err;
  }
};
const data = await getProducts();
---

<div class="text-center my-20 w-full">
  <h2
    class="my-4 xs:text-1xl md:text-3xl tracking-widest font-bold bg-neutral-900 text-neutral-300 border-r-2 border-l-2 border-orange-500 w-fit px-2 mx-auto"
  >
    {title.toUpperCase()}
  </h2>
  <div class="grid md:grid-cols-3 w-11/12 mx-auto gap-5 my-10">
    {
      data.map((product: any, index: any) => {
        if (index == 0 || index == 1) {
          return (
            <Card
              title={product.title}
              price={product.price}
              sku={product.sku}
              subcategory={product.SUBCATEGORY}
              style="xs:hidden"
            />
          );
        } else if (index == 2) {
          return (
            <Card
              title={product.title}
              price={product.price}
              sku={product.sku}
            />
          );
        }
      })
    }
  </div>
  <a
    href="#"
    class="bg-neutral-200 px-2 rounded-sm block my-4 xs:w-1/2 md:w-3/12 mx-auto text-sm text-neutral-600 hover:text-black border-x-2 border-orange-500"
    >{buttonTitle}</a
  >
</div>
