---
import Card from "./Card.astro";
import Problems from "./home/Problems";
const {
  buttonTitle,
  url = "http://localhost:8080/api/intercar/onsale/products?page=0",
} = Astro.props;

const getProducts = async () => {
  try {
    const getInfo = await fetch(url, {
      mode: "cors",
      method: "GET",
      });
    console.log(getInfo)
    const jsonInfo = await getInfo.json();
    return jsonInfo.data;
    } catch (err) {
    console.log(err)
    return err;
  }
};
const data = await getProducts();
---

<div class="text-center my-20 w-full">
   {
    !data || !Array.isArray(data) || data.length === 0 ? (
      <Problems />
      ) : (
      <div class="grid grid-cols-3 w-11/12 mx-auto gap-5 my-10">
        {data.map((product: any, index: any) => {
            if(index >= 4){
              return null;
            }
            return (
              <Card
                title={product.title}
                price={product.price}
                sku={product.sku}
                subcategory={product.SUBCATEGORY}
              />
            );
        })}
      </div>
    )
  }
  <a
    href="/ofertas"
    class="bg-neutral-200 px-2 rounded-sm block my-4 xs:w-1/2 md:w-3/12 mx-auto text-sm text-neutral-600 hover:text-black border-x-2 border-orange-500"
    >{buttonTitle}</a
  >
</div>
